%header

  =@introduction.additional
  %br/  
  =@introduction.descr
  
%main
  -@persons.each do |person|        
    = link_to root_path + 'gift/' + person.title + '/' + @user.encrypted_identifier do
      =image_tag person.img
  

